<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192649480057-ql0v4q5439hqk3tahra7o4q9m4ti9j6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192649480057-ql0v4q5439hqk3tahra7o4q9m4ti9j6p</string>
	<key>API_KEY</key>
	<string>AIzaSyDE-fTLMMz_vDEaabLT5RW408sy2DjYn6U</string>
	<key>GCM_SENDER_ID</key>
	<string>192649480057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicolocurioni.EasyNote</string>
	<key>PROJECT_ID</key>
	<string>easynote-a57ec</string>
	<key>STORAGE_BUCKET</key>
	<string>easynote-a57ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:192649480057:ios:fda01c56089954417351a8</string>
</dict>
</plist>
